* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 1190px;
  height: auto;
  max-height: auto;
  background-color: black;
  border-radius: 60px;
  justify-content: center;
}

.card-title {
  color: #19afa5;
  font-size: 70px;
  text-align: center;
  font-weight: bold;
  line-height: 1;
}

.card-text {
  color: white;
  font-size: 14px;
  text-align: justify;
  padding-left: 10vh;
  padding-right: 10vh;
}

.search-bar {
  color: black;
  background-color: #d2d3d3;
  border-color: black;
  width: 625px;
  max-width: 100%;
}

.filter {
  color: black;
  background-color: #d2d3d3;
  border-color: black;
  width: 100%;
  max-width: 300px;
}

.btnApply {
  width: 100%;
  max-width: 94px;
  height: 38px;
  border-radius: 10px;
  border: none;
  color: black;
  background-color: #19afa5;
}

.serviceCard {
  width: 250px;
  height: 378px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.serviceImage {
  width: 100%;
  height: 250px;
  background-color: black;
  border-radius: 23px;
  object-fit: cover;
}

.serviceImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 23px;
}

.serviceTitle {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 190px;
}

.servicePrice {
  font-size: 20px;
  font-weight: bold;
}

.serviceDescription {
  font-size: 10px;
}

.btnSeeMore {
  background-color: #19afa5;
  width: 100px;
  height: 25px;
  border: none;
  font-size: 12px;
}

.category {
  text-align: center;
  font-size: 14px;
}

.pagination {
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.page-item .page-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  border: none;
  border-radius: 5px;
  color: black;
}

.page-item .page-link img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

/* darkmode */
.servicePrice {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.serviceDescription {
  font-size: 10px;
  color: black;
}

/* Service Card (Dark Mode) */
body.dark-mode .serviceCard {
  background-color: #181818;
}

body.dark-mode .serviceTitle {
  color: white;
}

body.dark-mode .servicePrice {
  color: #ffffff;
}

body.dark-mode .serviceDescription {
  color: #b1b1b1;
}

body.dark-mode .serviceImage img {
  border-radius: 23px;
  filter: brightness(0.7);
}

body.dark-mode .btnSeeMore {
  background-color: #16a299;
  color: white;
}

body.dark-mode .btnSeeMore:hover {
  background-color: #19afa5;
}

body.dark-mode .page-item .page-link {
  color: white;
  background-color: #181818;
}

.page-item .page-link:hover {
  background-color: #19afa5;
  color: black;
}

.page-item .page-link img {
  width: 45px;
  height: 45px;
  object-fit: contain;
}

body.dark-mode .page-item .page-link img {
  filter: brightness(0.7);
}

body.dark-mode .line {
  background-color: white !important;
  border-color: white !important;
}

@media (max-width: 767px) {
  .card-title {
    font-size: 30px;
  }

  .card-text {
    font-size: 12px;
    padding-left: 5vh;
    padding-right: 5vh;
  }

  .serviceCard {
    width: 220px;
    height: 358px;
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
  }

  .serviceImage {
    width: 100%;
    height: 250px;
    background-color: black;
    border-radius: 20px;
    object-fit: cover;
  }

  .serviceImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .serviceTitle {
    font-size: 16px;
  }

  .serviceDescription {
    display: none;
  }

  .servicePrice {
    font-size: 20px;
  }

  .btnSeeMore {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .category {
    font-size: 12px;
  }
}
