.active5 {
  color: #19afa5;
}
body {
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../../assets/images/helpCenter/bg.png");
  background-size: cover;
  filter: blur(5px);
  z-index: -1;
  opacity: 0.8;
}
.card {
  width: 100%;
  max-width: 1190px;
  height: auto;
  max-height: auto;
  background: black;
  border-radius: 60px;
  justify-content: center;
  padding: 16px;
}
.container-section {
  margin-top: 30px;
}
.card-title {
  font-family: Poppins;
  font-weight: bold;
  font-size: 70px;
  line-height: 1;
  text-align: center;
  color: #19afa5;
  
}
.card-body {
  font-family: Poppins;
  font-size: 14px;
  color: #ffffff;
  padding-left: 10vh;
  padding-right: 10vh;
  text-align: center;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.logo {
  display: flex;
  justify-content: center;
}
.logo-image {
  width: 200px;
  height: auto;
}

.header {
  font-family: Poppins;
  font-size: 45px;
}
.title-question {
  font-size: 32px;
  font-weight: bold;
  font-family: Poppins;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.text {
  font-size: 16px;
  font-weight: 700;
  font-family: Poppins;
  text-align: left;
}
body.dark-mode .active5 {
  color: #19afa5 !important;
}

body.dark-mode .btnExpand {
  color: white !important;
}


.information {
  padding-bottom: 15px;
}

.expandbtn-img {
  width: 30px;
  height: 30px;
}

@media (max-width: 767px) {
    .expandbtn-img {
        width: 20px;
        height: 20px;
    }

    .card-title {
        font-size: 30px;
        margin-top: 20px;
    }

    .card-body {
        font-size: 12px;
        padding-left: 5vh;
        padding-right: 5vh;
    }

    .header {
        font-size: 20px;
    }

    .title-question {
        font-size: 20px;
    }

    .text {
        font-size: 14px;
    }
    .information {
      font-size: 12px;
    }

}