.serviceCard {
  width: 250px;
  height: 378px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.serviceImage {
  width: 100%;
  height: 250px;
  background-color: black;
  border-radius: 23px;
  object-fit: cover;
}

.serviceImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 23px;
}

.serviceTitle {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 190px;
}

.servicePrice {
  font-size: 20px;
  font-weight: bold;
}

.serviceDescription {
  font-size: 10px;
}

/* 
@media(max-width: 767px) {
  .card-title {
    font-size: 30px;
  }

  .card-text {
    font-size: 12px;
    padding-left: 5vh;
    padding-right: 5vh;
  }

  .serviceImage {
    height: 200px;
  }

  .serviceTitle {
    font-size: 16px;
  }

  .serviceDescription {
    display: none;
  }

  .servicePrice {
    font-size: 20px;
  }

  .btnSeeMore {
    align-items: center;
    display: flex;
    justify-content: center;

  }

  .category {
    font-size: 12px;
  }
} */

.productCard {
  width: 250px;
  height: 378px;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.productImage {
  width: 100%;
  height: 250px;
  background-color: black;
  border-radius: 23px;
  object-fit: cover;
}

.productImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 23px;
}

.productTitle {
  font-size: 20px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 190px;
}

.productPrice {
  font-size: 20px;
  font-weight: bold;
}

.productDescription {
  font-size: 10px;
}

/* 
@media(max-width: 767px) {
  .card-title {
      font-size: 30px;
  }

  .card-text {
      font-size: 12px;
      padding-left: 5vh;
      padding-right: 5vh;
  }

  .productImage {
      object-fit: cover;
      height: 100%;
  }

  .productTitle {
      font-size: 16px;
  }

  .productDescription {
      display: none;
  }

  .productPrice {
      font-size: 20px;
  }

  .btnSeeMore {
      align-items: center;
      display: flex;
      justify-content: center;
  }

  .category {
      font-size: 12px;
  }
} */

.tabs {
  padding: 20px;
}

.tab-buttons {
  display: flex;
  gap: 20px;
}

.tab-btn {
  border: none;
  background: none;
  padding: 10px;
  cursor: pointer;
  color: #666;
  font-size: 16px;
  position: relative;
}

.tab-btn.active {
  color: #20b2aa;
}

.tab-btn.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #20b2aa;
}

body.dark-mode .receiptForm {
  background-color: #242424 !important;
}
body.dark-mode .serviceCard,
body.dark-mode .modal-header,
body.dark-mode .modal-footer,
body.dark-mode .modal-body,
body.dark-mode .modal-number {
  background-color: #181818 !important;
}

body.dark-mode .modal-number {
  border: none !important;
}
body.dark-mode .line {
  background-color: white !important;
  border-color: white !important;
}
