@font-face {
    font-family: 'Belove';
    src: url('..//font/BeloveRegular.ttf') format('truetype');
}

:root {
    --ff-title: "Belove", sans-serif;
    --ff-text: "Poppins", sans-serif;
    --c-primary-orange: #FF5722;
    --c-secondary-orange: #FF916F;
    --c-black: #333;
}

body {
    font-family: var(--ff-text);
    overflow: hidden;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: #FE5722;
}

.border-active {
    border-color: #FE5722 !important;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #E7400C;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

.h6 {
    font-family: var(--ff-title);
    font-weight: 600;
}

#map {
    height: 300px;
    width: 100%;
}

@media only screen and (max-width: 769px) {

    .phoneDisplay {
        display: block !important;
    }

    .desktopDisplay {
        display: none !important;
    }
}

